body {
    background-image: url("../assets/images/sandwich\ wallpaper.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.food {
    padding: 3px;
}

#final-order {
    background-color: beige;
    border: 1px solid black;
}

#final-cost {
    background-color: beige;
    border: 1px solid black;
}